.photos {
    display: flex;
    flex-wrap: wrap;
}

.ui.image {
    margin: 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.ui.image:hover {
    cursor: pointer;
    border: black 1px solid;
}